
.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
env.sh
docs_build
venv
docs.zip
archive.zip
out

# vim temporary files
*~
.*.sw?
bin/utils/*.jar
staging-data
src/tests/data/*.js
src/tests/data/*.txt
.DS_Store
/verify.sh
