# coding: utf-8
import os

from functools import lru_cache
from typing import Dict, List, Iterator, Optional  # noqa: F401
from abc import ABC, abstractmethod
from uuid import UUID
from datetime import date

from fastapi import (  # noqa: F401
    APIRouter,
    Body,
    Cookie,
    Depends,
    Form,
    Header,
    Path,
    Query,
    Response,
    Security as FastAPISecurity,
    status,
    HTTPException
)

from fastapi_utils.cbv import cbv
from fastapi_utils.inferring_router import InferringRouter
from fastapi_utils.session import FastAPISessionMaker
from sqlalchemy.orm import Session
from config.settings import Settings

from {{modelPackage}}.extra_models import TokenModel  # noqa: F401
{{#imports}}
{{import}}
{{/imports}}
{{#securityImports.0}}from impl.security_api import {{#securityImports}}get_token_{{.}}{{^-last}}, {{/-last}}{{/securityImports}}{{/securityImports.0}}

router = InferringRouter()


def get_database() -> Iterator[Session]:
    """FastAPI dependency that provides a sqlalchemy session

    Yields:
        Iterator[Session]: sqlalchemy session
    """
    yield from _get_fastapi_sessionmaker().get_db()


@lru_cache()
def _get_fastapi_sessionmaker() -> FastAPISessionMaker:
    """Returns FastAPI session maker

    Returns:
        FastAPISessionMaker: FastAPI session maker
    """
    database_uri = os.environ["BACKEND_DATABASE_URL"]
    return FastAPISessionMaker(database_uri)


@lru_cache()
def get_settings():
    return Settings()


@cbv(router)
class {{classname}}Spec(ABC):

    database: Session = Depends(get_database)
    settings: Settings = Depends(get_settings)
{{#operations}}{{#operation}}
    @abstractmethod
    async def {{operationId}}(
        self,
        {{#allParams}}
        {{paramName}}: {{^required}}Optional[{{/required}}{{#isString}}{{#isUuid}}UUID{{/isUuid}}{{^isUuid}}str{{/isUuid}}{{/isString}}{{#isInteger}}int{{/isInteger}}{{#isLong}}int{{/isLong}}{{#isFloat}}float{{/isFloat}}{{#isDouble}}float{{/isDouble}}{{#isByteArray}}str{{/isByteArray}}{{#isBinary}}str{{/isBinary}}{{#isBoolean}}bool{{/isBoolean}}{{#isDate}}date{{/isDate}}{{#isDateTime}}str{{/isDateTime}}{{#isModel}}{{#isEnum}}str{{/isEnum}}{{^isEnum}}{{dataType}}{{/isEnum}}{{/isModel}}{{^isModel}}{{#allowableValues}}{{dataType}}{{/allowableValues}}{{/isModel}}{{#isContainer}}{{dataType}}{{/isContainer}}{{^required}}]{{/required}},
        {{/allParams}}
        {{#hasAuthMethods}}
        {{#authMethods}}
        token_{{name}}: TokenModel,
        {{/authMethods}}
        {{/hasAuthMethods}}
    ) -> {{returnType}}{{^returnType}}None{{/returnType}}:
        ...

    @router.{{#lambda.lowercase}}{{httpMethod}}{{/lambda.lowercase}}(
        "{{path}}",
        responses={
            {{#responses}}
            {{code}}: {{=<% %>=}}{<%#dataType%>"model": <%dataType%>, "description": "<%message%>"<%/dataType%><%^dataType%>"description": "<%message%>"<%/dataType%>}<%={{ }}=%>,
            {{/responses}}
        },
        tags=[{{#tags}}"{{name}}"{{^-last}},{{/-last}}{{/tags}}],
        {{#summary}}
        summary="{{.}}",
        {{/summary}}
        {{#description}}
        description = "{{.}}",
        {{/description}}
    )
    async def {{operationId}}_spec(
        self,
        {{#allParams}}
        {{>endpoint_argument_definition}},
        {{/allParams}}
        {{#hasAuthMethods}}
        {{#authMethods}}
        token_{{name}}: TokenModel = FastAPISecurity(
            get_token_{{name}}{{#isOAuth}}, scopes=[{{#scopes}}"{{scope}}"{{^-last}}, {{/-last}}{{/scopes}}]{{/isOAuth}}
        ),
        {{/authMethods}}
        {{/hasAuthMethods}}
    ) -> {{returnType}}{{^returnType}}None{{/returnType}}:
        {{#notes}}"""{{.}}"""{{/notes}}{{^notes}}...{{/notes}}
{{#allParams}}{{#required}}
        if {{paramName}} is None:
            raise HTTPException(
                status_code=400,
                detail="Missing required parameter {{baseName}}"
            )
{{/required}}{{/allParams}}
        return await self.{{operationId}}(
            {{#allParams}}{{paramName}}={{#isDate}}self.to_date({{/isDate}}{{#isUuid}}self.to_uuid({{/isUuid}}{{paramName}}{{#isUuid}}){{/isUuid}}{{#isDate}}){{/isDate}}{{^-last}},
            {{/-last}}{{/allParams}}{{#hasParams}},
            {{/hasParams}}{{#hasAuthMethods}}{{#authMethods}}token_{{name}}=token_{{name}}{{^-last}},
            {{/-last}}{{/authMethods}}{{/hasAuthMethods}}
        )
    {{^-last}}
{{/-last}}{{/operation}}{{/operations}}
    @staticmethod
    def to_date(isodate: str) -> Optional[date]:
        """Translates given string to date

        Args:
            isodate (str): date as ISO date string

        Raises:
            HTTPException: bad request HTTPException when isodate is not valid ISO date string

        Returns:
            date: parsed date object
        """
        if not isodate:
            return None

        try:
            return date.fromisoformat(isodate)
        except ValueError:
            raise HTTPException(
                status_code=400,
                detail=f"Invalid date {isodate}"
            )

    @staticmethod
    def to_uuid(hexadecimal_uuid: str) -> Optional[UUID]:
        """Translates given hex to UUID

        Args:
            hexadecimal_uuid (str): UUID in hexadecimal string

        Raises:
            HTTPException: bad request HTTPException when hexadecimal_uuid is not valid UUID string

        Returns:
            UUID: UUID
        """
        if not hexadecimal_uuid:
            return None

        try:
            return UUID(hex=hexadecimal_uuid)
        except ValueError:
            raise HTTPException(
                status_code=400,
                detail=f"Invalid UUID {hexadecimal_uuid}"
            )
